<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Zocoshop" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class="row">
  		<div class="columns">
        <div class="logo-container columns large-2 medium-2 small-4  small-centered medium-centered large-centered">
          <%= link_to image_tag("logo-zocoshop.png", alt: "Zocoshop Logo"), root_path() %>
        </div>  
  			<%= yield %>
  		</div>
  	</div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>